<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor=" let item of items">
      <div class="card card-columns">
        <img class="image" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ item.poster_path }}" *ngIf="item.poster_path"
          class="card-img-top" alt="...">
        <div class="card-body row">
          <a [routerLink]="[ '/pelicula', item.id ]">
            <h5 class="card-title">{{item.title}}</h5>
          </a>
          <small class="card-title">Release: {{item.release_date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
